<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <script src="/js/portfolio.js" defer></script>
</head>

<body>
    <%- include('partials/header') %>
        <div class="container">
            <h1>Your Portfolio</h1>
            <input type="text" id="portfolioSearch" placeholder="Search portfolio...">
            <table>
                <thead>
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Stock Name</th>
                        <th>Quantity</th>
                        <th>Purchase Price</th>
                        <th>Purchase Date</th>
                    </tr>
                </thead>
                <tbody id="portfolioTableBody">
                    <% portfolio.forEach(item=> { %>
                        <tr>
                            <td class="symbol">
                                <%= item.symbol %>
                            </td>
                            <td class="name">
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td>
                            <td>
                                <%= item.purchase_price %>
                            </td>
                            <td>
                                <%= item.purchase_date %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
</body>

</html>